src/d2c/dnn/*
docs
# data

build/
__deleteme__/
main*
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/

# Jupyter Notebook specific files
.ipynb_checkpoints/

# Miscellaneous
*.bak
*.swp
*.tmp
*.log
*.cache
# *.csv
*.json
*.png
*.jpg
*.jpeg
*.gif
# *.pdf
*.xlsx
*.xls
*.db
*.sqlite3
*.pyc
*.bak
*.tmp
*.swp
*.DS_Store

# python 3.8.19
Python-3.8.19/

# myenv3.8
myenv3.8/

# paper_td2c
notebooks/paper_td2c/

# model.plk
notebooks/contributions/Real_data_validation/model.pkl

# descriptors
notebooks/contributions/td2c_extesions/descriptors

# data
notebooks/contributions/td2c_extesions/data

# results
notebooks/contributions/td2c_extesions/results/Regression/journals

# real data csvs
notebooks/contributions/Real_data_validation/data/Antivirus_activity/*.csv
notebooks/contributions/Real_data_validation/data/Antivirus_activity/results/*.csv
notebooks/contributions/Real_data_validation/data/Web_activity/*.csv
notebooks/contributions/Real_data_validation/data/Web_activity/results/*.csv
notebooks/contributions/Real_data_validation/data/Dairy_markets/*.csv
notebooks/contributions/Real_data_validation/data/Dairy_markets/results/*.csv
notebooks/contributions/Real_data_validation/data/monitoring/*.csv
notebooks/contributions/Real_data_validation/data/monitoring/results/*.csv
notebooks/contributions/Real_data_validation/data/monitoring/returns/storm_fork/*.csv
notebooks/contributions/Real_data_validation/data/temperature/*.csv
notebooks/contributions/Real_data_validation/data/temperature/results/*.csv
notebooks/contributions/Real_data_validation/data/veilleux/*.csv
notebooks/contributions/Real_data_validation/data/veilleux/results/*.csv



